@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
:root{
    /*======= Colores =======*/
    --primaryColor:#006766;
    --secundaryColor:#FCED9C;
    --fontColorBlack:#2E2E2E;
    --fontColorWhite: #FDF9F9;
}
* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
/* Header */
.header {
    display: flex;
    background-color:#006766;
}
.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainNav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.mainNavItem a {
    color: var(--fontColorWhite);
    margin: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.mainNavItem a:hover{
    color: var(--secundaryColor);
}

/* Main Carrousel */
.carrousel {
    margin: 0 auto;
    padding: 0 auto;
}
.mainTitleCarrousel{
    color: var(--fontColorWhite);
    margin: 20vh;
    position:absolute;
    font-size: 36px;
}
.mainTitle{
    font-size: 52px;
    color: var(--secundaryColor);
}
.imgCarrousel {
    display: flex;
    justify-items: center;
    height: 95vh;
    width: 100%;
}

/* Main Servicios */

/* Main contactanos */

.contacto {
    display: flex;
    background-color: #006766;
    margin-bottom: 30px;
    color: white;
    padding: 90px;
    justify-content: center;
}

.contactoLeft{
    background-color: #005252;
    padding: 86px;
    border-radius: 5px;
    margin:0 auto;
    width: 576px;
    height: 584px;
}
.contactoLeft h3 {
    font-size: 30px;
    font-weight: bold;
}
.contactoLeft p {
    font-size: 18px;
    margin-top: 55px;
}

.contactoRight{
    display: flex;
    background-color: white;
    color: black;
    padding: 78px;
    margin: 0 auto;
    border-radius: 5px;
    width: 576px;
    height: 584px;
    justify-content: center;
}

.btnInput {
    width: 380px;
    height: 50px;
    margin-bottom: 35px;
    border-radius: 5px;
    border: solid 2px;
}

.btnInput::placeholder{
    font-size: 18px;
    padding-left: 20px;
}
.contactoRight textarea{
    width: 380px;
    height: 156px;
    border-radius: 5px;
    border: solid 2px;
    margin-bottom: 37px;
}
.contactoRight textarea::placeholder{
    font-size: 18px;
    padding: 13px 0px 0px 13px;
}

.btnSubmit{
    width: 380px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    color: var(--fontColorBlack);
    background-color: #FCED9C;
}

/* Main Tabla */

.titulo1{
    color: blue;
}
.titulo2{
    color: aqua;
}
.titulo3{
    color: aquamarine;
}

/* Main galeria y tienda */

.box {
    display: flex;
    border: solid red ;
    height: 200px;
    width: 200px;
}


/* Footer */
.footer {
    height: 292px;
    display: flex;
    border: solid red;
    background-color: #006766;
    flex-direction: row;
    justify-content: center;
}

.imgLogo{
    border:solid red;
}

.ulListFooter {
    border: solid red;
    list-style-type: none;
}
.redesSociales{
    color: var(--fontColorWhite);
    font-weight: bold;
    border:solid red;
}
.footerLink {
    /* border: solid red; */
    color: var(--fontColorWhite);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border:solid red;
}