@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Nunito', sans-serif;
}
/* Header */
.header {
    background-color:#006766;
}
.navLink {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

/* Main Carrousel */
.carrousel {
    border: red solid;
}
.imgCarrousel {
}
/* Main contactanos */

.contacto {
    background-color: #006766;
    margin-bottom: 30px;
    color: white;
    padding: 20px;
}

/* Main Tabla */

.titulo1{
    color: blue;
}
.titulo2{
    color: aqua;
}
.titulo3{
    color: aquamarine;
}

/* Main galeria y tienda */

.box {
    display: flex;
    border: solid red ;
    height: 200px;
    width: 200px;
}


/* Footer */
.footer {
    background-color: #006766;
}

.ulList {
    list-style-type: none;
}
.footerLink {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}